# Resolve @versionzero packages from public npm (overrides the global
# ~/.npmrc default that routes @versionzero to the private verdaccio).
# This repo is public and depends on the published @versionzero/schema.
@versionzero:registry=https://registry.npmjs.org
